* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, button, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, li {
  list-style: none;
}

.animate-before {
  transform: translateY(40px);
  opacity: 0;
  pointer-events: none;
}

.animate-after {
  transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 28px 15px 24px;
}

.header h3 {
  color: #E60023;
  font-weight: 700;
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav ul {
  display: flex;
  align-items: center;
}

.header nav ul li {
  padding: 16px;
}

.header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #111;
  font-weight: 700;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

.header .buttons {
  display: flex;
}

.header .buttons button {
  font-size: 16px;
  font-weight: 700;
  padding: 11px 12px;
  border-radius: 24px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .2s;
}

.header .buttons button.login {
  color: #FFF;
  background-color: #E60023;
}

.header .buttons button.login:hover {
  background-color: #bd001d;
}

.header .buttons button.sign-up {
  margin-left: 16px;
  background-color: #EFEFEF;
}

.header .buttons button.sign-up:hover {
  background-color: #d6d6d6;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.heading .text {
  font-size: 60px;
  font-weight: bold;
}

.heading .wrapper {
  position: relative;
}

.heading .wrapper .offset {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
}

.heading .wrapper .offset .text {
  white-space: nowrap;
  color: #E60023;
  transition-duration: 1s;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 252px);
  pointer-events: none;
  visibility: hidden;
  max-height: 0;
}

.grid.active {
  max-height: unset;
  visibility: visible;
  pointer-events: auto;
}

.col {
  transition-duration: 1s;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col:nth-child(1) {
  margin-top: 90px;
  transition-delay: 0s;
}

.col:nth-child(2) {
  margin-top: 180px;
  transition-delay: 0.2s;
}

.col:nth-child(3) {
  margin-top: 270px;
  transition-delay: 0.4s;
}

.col:nth-child(4) {
  margin-top: 360px;
  transition-delay: 0.6s;
}

.col:nth-child(5) {
  margin-top: 270px;
  transition-delay: 0.8s;
}

.col:nth-child(6) {
  margin-top: 180px;
  transition-delay: 1s;
}

.col:nth-child(7) {
  margin-top: 90px;
  transition-delay: 1.2s;
}

.item {
  width: 236px;
  height: 350px;
  background-color: #E60023;
  border-radius: 10px;
}

.item:not(:first-child) {
  margin-top: 16px;
}
