.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  .text {
    font-size: 60px;
    font-weight: bold;
  }
  .wrapper {
    position: relative;
    .offset {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
      .text {
        white-space: nowrap;
        color: $red;
      }
    }
  }
}